<div class="form-floating mb-1">
    <input type="text" class="form-control" id="first-name" placeholder="First Name">
    <label for="first-name">First Name</label>
</div>
<div class="form-floating mb-1">
    <input type="text" class="form-control" id="last-name" placeholder="Last Name">
    <label for="last-name">Last Name</label>
</div>
<div class="form-floating mb-1">
    <input type="password" class="form-control" id="password" placeholder="Password">
    <label for="password">Password</label>
</div>