<div class="d-flex justify-content-center">
    <h1 class="m-4">Stock-ness Monster</h1>
</div>

<div class="container">
    <div class="row">
        <figure class="col-md-6 col-sm-12">
            <img class="img-fluid" src="/images/nessie.png" alt="Pixelated moonlit green image with dragon monster in lake and two figures fishing">
        </figure>
        <div class="col-md-6 col-sm-12">
            <p class="m-4">
                Welcome to Stock-ness Monster. Inventory so accurate you won't believe it exists.
            </p>
        </div>
    </div>
</div>