<div class="d-flex justify-content-center align-items-center">
    <h1 class="m-3 mb-3">Stock-ness Monster</h1> 
</div>

<div class="container pt-5">
    <div class="row d-flex align-items-center">
        <figure class="col-md-6 col-sm-12 bc-image-container">
            <img class="img-fluid custom-image" src="/images/nessie.png" alt="Pixelated moonlit green image with dragon monster in lake and two figures fishing">
        </figure>
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <div class="d-flex justify-content-center">
                <h2 class="text-warning m-4 border-bottom">Welcome, {{firstName}}!</h2>
            </div>
            <div class="card text-center card-custom-body mb-3">
                <h2 class="card-header p-4 card-custom-header">
                    The Legendary Solution to Inventory Woes!
                </h2>

                <p class="card-body p-4 card-custom-body">
                    Brilliant inventory management at your fingertips. Let the Stock-ness Monster conquer your inventory chaos, one item at a time!
                </p>
                <p class="text-warning"><bold>Get started now!</bold></p>
            </div>

        </div>
    </div>
</div>