<div class="d-flex justify-content-center">
    <h1 class="m-4">Orders</h1>
</div>

<div class="container">
    <div class="row">
        <figure class="col-md-6 col-sm-12">
            <img class="img-fluid" src="/images/island.png" alt="Green and black pixelated island with monster tentacles coming out of it.">
        </figure>
        <div class="col-md-6 col-sm-12">
            <p class="m-4">
                View your all orders here? View orders by id here? Place an order here?
            </p>
        </div>
    </div>
</div>