:root {
    --tea-green: #D0EEBEff;
    --pistachio: #86C06Cff;
    --dark-green: #173531ff;
    --rich-black: #071821ff;
    --hunter-green: #306850ff;
    --error: rgb(243, 69, 69);
}

body {
    background-color: var(--hunter-green);
    color: var(--tea-green);
    font-family: Quicksand, sans-serif;
    font-size: 120%;
    
}

h1 {
    font-family: Creepster, sans-serif;
    font-size: 70px;
    color: var(--tea-green);
    text-shadow: 5px 5px var(--dark-green);
}

.custom-navbar {
    background-color: var(--hunter-green);
}

/* Custom class for SweetAlert background */
.custom-confirm-popup {
  background-color: var(--hunter-green);
  color: var(--tea-green);
}

.custom-error-popup {
  background-color: var(--error);
  color: var(--rich-black);
}

/* Custom class for SweetAlert confirm button */
.custom-confirm-button {
  background-color: var(--pistachio);
  color: var(--dark-green);
}

/* styling for modals  */
.modal-style {
  background-color: var(--rich-black);
}

/* text color for create a user form  */
#user-form {
  color: var(--pistachio);
}

/* ORDERS */

.availability-container {
  width: 100%;
  height: 40vh;
  background-color: var(--dark-green);
  opacity: 0.8;
  box-shadow: 5px 5px 5px var(--pistachio);
  border-radius: 8px;
}

.orderTitle {
  margin-top: 20px;
}

.form-control-custom {
  background-color: white;
  width: 100%;
  box-sizing: border-box; 
}

.form-group {
  margin-top: 1.2rem;
  width: 100%; 
}

.btn-primary {
  margin-top: 1.1rem;
  background-color: #f8cb52;
  color: black;
}

.makeOrder {
  opacity: 0.2; 
  pointer-events: none; 
}

.button-group {
  display: flex;
  gap: 20px; 
  width: 100%; 
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextTorder {
  font-size: 1.5rem; 
}

.icon-container i {
  margin-top: 15px;
}

#orderForm {

  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%; 
  
   
}

.place-order-main-container {
  display: none;
  height: 60vh;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  justify-content: center;
  border-radius: 10px;
 
}

.container {
  width: 100%;
}

